@import url('reset.css');
*:focus{outline: none}
html{font-size: 16px}
body{font-size: 1.0625rem; line-height: 1.375; letter-spacing: 1; font-weight: 300; font-family: 'Roboto', sans-serif; }
body:after{content: ''; width: 100vw; height: 100vh; position: fixed; z-index: -1; background-image: url('../img/istockphoto-110872925-1024x1024.jpg'); top: 0; opacity: 0.14}
/* .page{max-width: 1200px; margin: auto; background-color: #fff} */
.wrapper:last-of-type{margin-bottom: 40px}
.row{ margin: auto; max-width: 1200px; width: 90%; padding: 40px 0;}
.small-row{max-width: 900px}
.title-row{padding-bottom: 0}
.col{display: inline-block; vertical-align: top; box-sizing: border-box;}
.twoCol{width: calc(100% / 2 - 3px)}
.twoCol:first-child{padding-right: 40px}
.twoCol:last-child{padding-left: 40px}

.primary-bg{background-color: rgba(254, 100, 163, 0.4);}

.primary-themeSection .box.primary-bg{background-color: #fe64a3; color: #fff}
.primary-themeSection .section-title{ color: #FE64A3}
.primary-themeSection .nonBg.box:after{border-color: rgba(254, 100, 163, 0.37)}

.secondary-themeSection{background-color: rgba(203, 128, 125, 0.76)}
.secondary-themeSection .box.primary-bg{background-color: rgba(0, 0, 0, 0.22); color: #fff}
.secondary-themeSection .nonBg.box:after{border-color: rgba(203, 128, 125, 0.37)}
.secondary-themeSection .section-title{ color: #fff}

strong{ font-weight: 400}
p{padding-bottom: 20px}
p:last-child{padding-bottom: 0}
img{max-width: 100%}

.button{text-decoration: none; padding: 5px 20px; width: fit-content; display: block; margin: auto; text-transform: uppercase; font-size: 1.4375rem; line-height: 1.30434782609; 	font-family: 'share'; font-weight: bold;}
.button:after{content: ''; display: block; width: 0; margin-left: -5px; height: 2px; background-color: black;  transition: width 0.2s;}
.button:hover:after, .button:focus:after{width: calc(100% + 10px);}

.section-title{font-family: 'Share', cursive;; font-size: 2rem; text-transform: uppercase; padding-bottom: 20px; font-weight: bold;}
.section-title + .box{padding-top: 0}
.title-row .section-title{padding-bottom: 0}
.box .section-title{padding-bottom: 10px}

#contact{margin: 60px auto 0 auto; padding: 40px 0 }
#contact .col{width: 100%}
#contact .box.noBg{padding-bottom: 0}
#contact .box.nonBg:after{display: none}
#contact .col{vertical-align: middle;}
#contact .box{padding: 40px 20px; border: 5px solid #000; text-align: center; max-width: 670px; margin: auto;}

#contact .section-title{font-size: 2.7rem; padding-bottom: 20px;}
#contact .social-link a{font-size: 1.45rem	}

.box{padding: 40px; margin: auto; max-width: 470px}
.box p{padding-bottom: 10px}
.box p:last-child{padding-bottom: 0}
.box.left{margin-left: 0}
.box.right{margin-right: 0}
.nonBg.box.left{padding-left: 0; padding-bottom: 0}
.nonBg.box.right{padding-right: 0}
.nonBg.box:after{content: ''; display: block; border-bottom: 2px solid; padding-top: 20px; max-width: 232px}
.nonBg.box.right:after{margin: auto; margin-right: 0}
.box .section-title{ color: inherit;}

.social-link a{text-decoration: none; text-transform: uppercase; letter-spacing: 0.09rem; font-size: 0.875rem; display: inline-block;vertical-align: middle;}
.social-link a:after{content: ''; width: 0; height: 2px; display: block; transition: width 0.2s;}
.social-link a:hover:after, .social-link a:focus:after{text-decoration: underline; width: 100%; background-color: #000}
.social-link img{display: inline-block; vertical-align: middle; padding-right: 10px}

.menu{font-family: 'Share'; text-transform: uppercase; font-size: 1.5625rem; border-bottom: solid 2px; border-color: rgba(254, 100, 163, 0.37); display: inline-block; padding-bottom: 10px}
.menu a{ text-decoration: none; margin-right: 20px; display: inline-block; border: 2px solid transparent; padding: 0 10px}
.menu a:hover, .menu a:focus{color: #fe64a3}

.grid{margin: 0 -12px;}
.grid li{display: inline-block; width: calc(100% / 3 - 23px); margin-bottom: 40px; padding: 0 10px; vertical-align: top}
.grid li .button{margin-right: 0; margin-top: 10px; font-size: 1.0625rem}
/* .grid li.news .button{background-color: #FE64A3; color: #fff;} */
.grid li.newsx .button{background-color: #CB807D; color: #fff}

.card-title{font-size: 25px; font-family: 'share'; text-transform: uppercase; line-height: 1.3; padding-left: 10px}
.card-title a{text-decoration: none}
.card-title a:hover, .card-title a:focus{text-decoration: underline;}
.card-content{padding-top: 10px; padding-left: 10px}

.placeholderCard{ width: 100%; height: 132px; background-color: #CB807D; margin-bottom: 20px; background-image: url('../img/pen.svg'); background-repeat: no-repeat;background-position: center;}
.button:after{background-color: #CB807D}
/* .grid li:nth-child(odd) .placeholderCard{background-color: #CB807D;background-image: url('../img/terminal.svg');  } */

.news-wrapper{float: left; width: 100%}
.blog-row{font-size: 1.25rem}
.article-title{font-size: 2.8125rem; font-weight: bold; font-family: 'share'; letter-spacing: -2px; display: block; margin-bottom: 25px; color: #FE64A3; line-height: 1.11111111111;}
.main-article{float: left;}
.note-header{border-bottom: 2px solid #CB807D; padding-bottom: 20px}
.share{display: inline-block; vertical-align: middle; padding-right: 40px}
.share a{font-size: 0; display: inline-block;; vertical-align: middle; background-repeat: no-repeat; background-size: auto; padding-right: 10px}
.share a:last-of-type{padding-right: 0}
.share-twitter{background-image: url('../img/twitter.svg'); width: 24px; height: 20px}
.share-twitter:hover{background-image: url('../img/twitter-shadow.svg');}
.share-fb{background-image: url('../img/fb.svg'); width: 24px; height: 25px; background-position: center;}
.share-fb:hover{background-image: url('../img/fb-shadow.svg');}
.article-date{display: inline-block; vertical-align: middle; text-align: right; font-size: 1rem; width: calc(100% - 108px); }

.main-article figure{width: 45%; display: inline; float: left; padding-right: 20px	}
.main-article figure:nth-child(even){float: right; padding-right: 0; padding-left: 20px}

.main-article h2 { font-size: 36px; font-weight: bold; font-family: 'share'; padding-top: 20px; padding-bottom: 10px; }

#about-box{ background-color: white; border: solid 5px; padding: 40px; width: fit-content; transform: rotate(6.04deg); padding-bottom: 75px }
#about-box .aboutBox-inner{transform: rotate(-6.04deg)}
#about-box .box{padding-right: 0}


#covidInfo-box{font-size: 1.25rem; border: 5px solid #000; margin-top: 30px}
#covidInfo-box a{text-decoration: underline;}

#homeAbout-row{padding: 100px 0}
#homeAbout-row strong{font-size: 1.25rem}


@media only screen and (max-width: 890px) {
	.twoCol{display: block; width: 100%;}
	.twoCol:first-child{margin-bottom: 60px; padding-right: 0}
	.twoCol:last-child { padding-left: 0; }
	.box{margin: auto;}
	#homeAbout-row{padding-bottom: 40px; padding-top: 60px}
	#homeAbout-row .col:first-child{width: 90%; margin: auto; margin-bottom: 80px}

	#contact{padding: 40px 0}
	#contact-box{margin: auto;}
}

@media only screen and (max-width: 355px) {
	.social-link img, .social-link a{display: block;}
	.social-link a{padding-top: 10px;}
	.box .social-link{padding-bottom: 20px}
}
